In [1]:
pip install pandas sqlalchemy pymysql

Requirement already satisfied: pandas in c:\users\rdper\appdata\local\programs\python\python313\lib\site-packages (3.0.0)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.46-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\rdper\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rdper\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\rdper\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.1-cp313-cp313-win_amd64.whl.metadata (3.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\rdper\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in c:\users\rdper\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading sqlalchemy-2.0.46-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 12.0 MB/s  0:00:00
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Downloading greenlet-3.3.1-cp313-cp313-win_amd64.whl (227 kB)
Installing collected packages: pymysql, greenlet, sqlalchemy

   ---------------------------------------- 0/3 [pymysql]
   ---------------------------------------- 0/3 [pymysql]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   ---------------------------------------- 3/3 [sqlalchemy]

Successfully installed greenlet-3.3.1 pymysql-1.1.2 sqlalchemy-2.0.46
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
from sqlalchemy import create_engine
import os

# 1. Configura tu conexión
# Reemplaza: usuario, password, localhost y nombre_base_datos
user = 'root'
password = 'Na140998-'
host = '127.0.0.1'
db_name = 'olistdb'

engine = create_engine(f'mysql+pymysql://root:Na140998-@127.0.0.1/olistdb')

# 2. Ruta a la carpeta con los CSVs
path = 'Brazilian E-Commerce Public Dataset by Olist'

# 3. Carga automática
for file in os.listdir(path):
    if file.endswith('.csv'):
        # Leer el archivo
        df = pd.read_csv(os.path.join(path, file))
        
        # Limpiar el nombre para la tabla (ej: olist_orders_dataset -> orders)
        table_name = file.replace('.csv', '').replace('_dataset', '').replace('olist_', '')
        
        print(f"Cargando {table_name}...")
        
        # El parámetro chunksize acelera la subida en archivos grandes
        df.to_sql(table_name, con=engine, if_exists='replace', index=False, chunksize=1000)

print("¡Proceso completado con éxito!")

Cargando customers...
Cargando geolocation...
Cargando orders...
Cargando order_items...
Cargando order_payments...
Cargando order_reviews...
Cargando products...
Cargando sellers...
Cargando product_category_name_translation...
¡Proceso completado con éxito!

In [5]:
import pandas as pd
from sqlalchemy import create_engine

# Tu conexión (ya la tienes, pero la repetimos para asegurar)
engine = create_engine('mysql+pymysql://root:Na140998-@127.0.0.1/olistdb')

# Traemos la tabla de productos desde MySQL
products = pd.read_sql("SELECT * FROM products", con=engine)

# ¡El momento de la verdad!
products.info()

<class 'pandas.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  str
 1   product_category_name       32341 non-null  str
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), str(2)
memory usage: 2.3 MB

In [7]:
products.describe()

,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32341.000000,32341.000000,32341.000000,32949.000000,32949.000000,32949.000000,32949.000000
mean,48.476949,771.495285,2.188986,2276.472488,30.815078,16.937661,23.196728
std,10.245741,635.115225,1.736766,4282.038731,16.914458,13.637554,12.079047
min,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000
25%,42.000000,339.000000,1.000000,300.000000,18.000000,8.000000,15.000000
50%,51.000000,595.000000,1.000000,700.000000,25.000000,13.000000,20.000000
75%,57.000000,972.000000,3.000000,1900.000000,38.000000,21.000000,30.000000
max,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000

In [8]:
# 1. Rellenar categorías nulas con 'otro' o 'unknown'
products['product_category_name'] = products['product_category_name'].fillna('unknown')

# 2. Rellenar las medidas faltantes con la mediana (para no afectar promedios)
columns_to_fix = ['product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']
for col in columns_to_fix:
    products[col] = products[col].fillna(products[col].median())

# 3. Verificamos que ya no existan nulos
print("Nulos restantes:\n", products.isnull().sum())

Nulos restantes:
 product_id                      0
product_category_name           0
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                0
product_length_cm               0
product_height_cm               0
product_width_cm                0
dtype: int64

In [9]:
# 1. Traer la tabla de items vendidos
order_items = pd.read_sql("SELECT * FROM order_items", con=engine)

# 2. Revisar la salud de los precios
print(order_items[['price', 'freight_value']].describe())

# 3. Buscar nulos
print("\nNulos en ventas:\n", order_items.isnull().sum())

               price  freight_value
count  112650.000000  112650.000000
mean      120.653739      19.990320
std       183.633928      15.806405
min         0.850000       0.000000
25%        39.900000      13.080000
50%        74.990000      16.260000
75%       134.900000      21.150000
max      6735.000000     409.680000

Nulos en ventas:
 product_id             0
order_id               0
order_item_id          0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [10]:
# Unimos las ventas con la información de productos (solo las columnas necesarias)
df_analisis = pd.merge(
    order_items[['order_id', 'product_id', 'price', 'freight_value']], 
    products[['product_id', 'product_category_name']], 
    on='product_id', 
    how='left'
)

# Agregamos la fecha de la tabla orders para ver la variación en el tiempo
orders = pd.read_sql("SELECT order_id, order_purchase_timestamp FROM orders", con=engine)
df_analisis = pd.merge(df_analisis, orders, on='order_id', how='left')

# Convertimos la fecha a formato tiempo
df_analisis['order_purchase_timestamp'] = pd.to_datetime(df_analisis['order_purchase_timestamp'])

print("Dataset listo para la fórmula de Elasticidad. Filas:", len(df_analisis))
df_analisis.head()

Dataset listo para la fórmula de Elasticidad. Filas: 112650

,order_id,product_id,price,freight_value,product_category_name,order_purchase_timestamp
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,58.90,13.29,cool_stuff,2017-09-13 08:59:02
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,239.90,19.93,pet_shop,2017-04-26 10:53:06
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,199.00,17.87,moveis_decoracao,2018-01-14 14:33:31
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,12.99,12.79,perfumaria,2018-08-08 10:00:35
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,199.90,18.14,ferramentas_jardim,2017-02-04 13:57:51

In [11]:
# 1. Calculamos los cuartiles de la columna price
Q1 = df_analisis['price'].quantile(0.25)
Q3 = df_analisis['price'].quantile(0.75)
IQR = Q3 - Q1

# 2. Definimos los límites (típicamente 1.5 veces el IQR)
limite_superior = Q3 + 1.5 * IQR

# 3. Filtramos el dataset
df_clean = df_analisis[df_analisis['price'] <= limite_superior].copy()

print(f"Límite superior calculado: ${limite_superior:.2f}")
print(f"Registros eliminados por ser precios extremos: {len(df_analisis) - len(df_clean)}")

Límite superior calculado: $277.40
Registros eliminados por ser precios extremos: 8427

In [12]:
# Verificamos si la columna price es realmente un número
print(f"Tipo de dato de 'price': {df_clean['price'].dtype}")

# Verificamos los primeros 5 valores reales
print("\nPrimeros 5 precios:")
print(df_clean['price'].head())

Tipo de dato de 'price': float64

Primeros 5 precios:
0     58.90
1    239.90
2    199.00
3     12.99
4    199.90
Name: price, dtype: float64

In [13]:
# 1. Aseguramos que 'price' sea numérico. 
# 'coerce' convertirá cualquier cosa extraña en NaN para que no rompa el cálculo
df_analisis['price'] = pd.to_numeric(df_analisis['price'], errors='coerce')

# 2. Si hubo errores al leer, eliminamos esas filas nulas creadas
df_analisis = df_analisis.dropna(subset=['price'])

# 3. Validamos que el tipo sea float64 (decimal)
print(df_clean['price'].dtype)

float64

In [14]:
print("\nPrimeros 5 precios:")
print(df_clean['price'].head())

Primeros 5 precios:
0     58.90
1    239.90
2    199.00
3     12.99
4    199.90
Name: price, dtype: float64

In [15]:
# 1. Creamos la columna de Mes/Año
df_clean['year_month'] = df_clean['order_purchase_timestamp'].dt.to_period('M')

# 2. Agrupamos por categoría y mes para ver la evolución
resumen_elasticidad = df_clean.groupby(['product_category_name', 'year_month']).agg(
    precio_promedio=('price', 'mean'),
    cantidad_vendida=('order_id', 'count')
).reset_index()

# 3. Solo para asegurarnos, veamos las categorías con más datos
top_categorias = resumen_elasticidad['product_category_name'].value_counts().head(5)
print("Categorías con más meses de historial para analizar:")
print(top_categorias)

resumen_elasticidad.head()

Categorías con más meses de historial para analizar:
product_category_name
beleza_saude                   22
fashion_bolsas_e_acessorios    22
moveis_decoracao               22
telefonia                      22
alimentos                      21
Name: count, dtype: int64

       product_category_name year_month  precio_promedio  cantidad_vendida
0  agro_industria_e_comercio    2017-01           21.990                 3
1  agro_industria_e_comercio    2017-02           32.120                 7
2  agro_industria_e_comercio    2017-03           40.995                 2
3  agro_industria_e_comercio    2017-05           59.990                 2
4  agro_industria_e_comercio    2017-08           22.000                 4

In [17]:
import numpy as np 

# 1. Filtramos solo la categoría reina
df_belleza = resumen_elasticidad[resumen_elasticidad['product_category_name'] == 'beleza_saude'].copy()

# 2. Calculamos los cambios porcentuales mes a mes
df_belleza['pct_change_precio'] = df_belleza['precio_promedio'].pct_change()
df_belleza['pct_change_cantidad'] = df_belleza['cantidad_vendida'].pct_change()

# 3. Calculamos la Elasticidad
df_belleza['elasticidad'] = df_belleza['pct_change_cantidad'] / df_belleza['pct_change_precio']

# 4. Limpiamos infinitos o nulos (que salen en el primer mes)
df_belleza = df_belleza.replace([np.inf, -np.inf], np.nan).dropna()

print("Elasticidad promedio para Belleza y Salud:")
print(df_belleza['elasticidad'].mean())

df_belleza[['year_month', 'precio_promedio', 'cantidad_vendida', 'elasticidad']].head()

Elasticidad promedio para Belleza y Salud:
-19.57254561625869

    year_month  precio_promedio  cantidad_vendida  elasticidad
188    2016-10        77.489348                46    19.842142
189    2017-01        79.563529                68    17.867347
190    2017-02        76.753380               142   -30.811120
191    2017-03        80.347340               188     6.918210
192    2017-04        70.230435               161     1.140590

In [18]:
df_belleza.to_csv('resultados_elasticidad.csv', index=False)

In [3]:
import pandas as pd
from sqlalchemy import create_engine
import os

# 1. Configura tu conexión
# Reemplaza: usuario, password, localhost y nombre_base_datos
user = 'root'
password = 'Na140998-'
host = '127.0.0.1'
db_name = 'olistdb'

engine = create_engine(f'mysql+pymysql://root:Na140998-@127.0.0.1/olistdb')

# 2. Ruta a la carpeta con los CSVs
path = 'Brazilian E-Commerce Public Dataset by Olist'

# 3. Carga automática
for file in os.listdir(path):
    if file.endswith('.csv'):
        # Leer el archivo
        df = pd.read_csv(os.path.join(path, file))
        
        # Limpiar el nombre para la tabla (ej: olist_orders_dataset -> orders)
        table_name = file.replace('.csv', '').replace('_dataset', '').replace('olist_', '')
        
        print(f"Cargando {table_name}...")
        
        # El parámetro chunksize acelera la subida en archivos grandes
        df.to_sql(table_name, con=engine, if_exists='replace', index=False, chunksize=1000)

print("¡Proceso completado con éxito!")

Cargando customers...
Cargando geolocation...
Cargando orders...
Cargando order_items...
Cargando order_payments...
Cargando order_reviews...
Cargando products...
Cargando sellers...
Cargando product_category_name_translation...
¡Proceso completado con éxito!